<ul class="nav navbar-nav">
    <li class="" id="dropdown-menu-my-resources">
        <a href="https://www.hydroshare.org/my-resources/">MY RESOURCES</a>
    </li>
    <li class="" id="dropdown-menu-search">
        <a href="https://www.hydroshare.org/search/">DISCOVER</a>
    </li>
    <li class="" id="dropdown-menu-collaborate">
        <a href="https://www.hydroshare.org/collaborate/">COLLABORATE</a>
    </li>
    <li class="" id="dropdown-menu-https:--apps.hydroshare.org-apps">
         <a href="https://apps.hydroshare.org/apps" target="_blank">APPS</a>
    </li>
    <li class="active" id="dropdown-menu-http:--pages.hydroshare.org">
        <a href="/">HELP</a>
    </li>
</ul>