{% load i18n pages_tags %}

{% spaceless %}

    {% if page_branch_in_menu %}

        <ul class="nav tree nav-list navlist-menu-level-{{ branch_level }}">
            {% for page in page_branch %}
                {% if page.in_menu %}
                    <li class="{% if page.is_current %} active{% endif %}
                        {% if page.is_current_or_ascendant %} active-branch{% endif %}
                        " id="tree-menu-{{ page.html_id }}">
                        <div class="tree-menu-item">
                        <a {% if not page.is_current %}href="{{ page.get_absolute_url }}"{% endif %}
                            {% if page.has_children_in_menu %}
                                {% if not page.is_current_or_ascendant %}
                            class="collapsed"
                                {% endif %}
                            {% endif %}>{{ page.title }}</a>
                        {% if page.has_children_in_menu %}
                            <i data-toggle="collapse"
                               data-target="#collapse-{{ page.html_id }}"
                               class="fa fa-chevron-right pull-right"></i>
                        {% endif %}
                        </div>
                        {# wrap the next line with 'if page.is_current_or_ascendant' #}
                        {# to only show child pages in the menu for the current page #}

                        {% if page.has_children_in_menu %}
                            <div id="collapse-{{ page.html_id }}"
                                 class="collapse {% if page.is_current_or_ascendant %}in{% endif %}">
                                {% page_menu page %}
                            </div>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
