<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/hs_pages.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    {#    The integrity and crossorigin attributes are used for Subresource Integrity (SRI) checking.#}

    {% compress js %}
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}img/logo-sm.png"
                                                  alt="{{ settings.SITE_TITLE }}"/></a>
        </div>

        <div class="collapse navbar-collapse">
            {% page_menu "pages/menus/dropdown.html" %}

            <ul class="nav navbar-nav navbar-right hidden-xs">
                {#                {% ifinstalled mezzanine.accounts %}#}
                {% if request.user.is_authenticated %}
                    <li id="profile-menu" class="display-block">
                        {% if request.user.userprofile.picture and request.user.userprofile.picture.url %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <div style="background-image: url('{{ request.user.userprofile.picture.url }}');"
                                     class="round-image profile-pic-thumbnail pull-left">
                                </div>
                            </a>
                        {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <div class="profile-pic-thumbnail-small round-image pull-left"></div>
                            </a>
                        {% endif %}
                        <ul class="dropdown-menu arrow_box">
                            <li class="account">
                                <div class="row">
                                    <div class="col-sm-4">
                                        {% if request.user.userprofile.picture and request.user.userprofile.picture.url %}
                                            <div style="background-image: url('{{ request.user.userprofile.picture.url }}');"
                                                 class="round-image dropdown-profile-pic-thumbnail pull-left">
                                            </div>
                                        {% else %}
                                            <div class="dropdown-profile-pic-thumbnail round-image dropdown-user-icon pull-left"></div>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-8">
                                        {#                                            <div><strong>{{ request.user.first_name }}#}
                                        {#                                                {% if request.user.userprofile.middle_name %}#}
                                        {#                                                    {{ request.user.userprofile.middle_name }} {% endif %}{{ request.user.last_name }}</strong>#}
                                        {#                                            </div>#}
                                        <div><strong>Name Placeholder</strong></div>
                                        {% if request.user.email %}
                                            <div class="text-muted">{{ request.user.email }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="dropdown-footer">
                                    <a href="/user/{{ user.id }}/" class="btn btn-primary">Profile</a>
                                    <a href="#" id="signout-menu" class="btn btn-default">
                                        <span class="glyphicon glyphicon-log-out"></span> Sign out</a></span>
                                </div>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <!-- <li id="signup-menu"><a href="{% url 'signup' %}">Sign Up</a></li> -->
                    <li id="signin-menu"><a href="{% url 'login' %}"><span
                            class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                {% endif %}
                {#                {% endifinstalled %}#}
            </ul>
        </div>

    </div>
</div>

<div class="container-wrapper">
<div class="container">
    <div class="row">
        {% nevercache %}
            {% if messages %}
                <div class="messages col-xs-12">
                    {% for message in messages %}
                        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endnevercache %}

        <div class="col-sm-12 col-lg-6 col-lg-offset-6">
            {% block navbar_search_form %}{% search_form "all" %}{% endblock %}</div>

        <div class="col-sm-12">
            <ul class="breadcrumb">
                {% spaceless %}
                    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                {% endspaceless %}
            </ul>
        </div>
    </div>
</div>
</div>

{% block banner %}{% endblock %}

<div class="container">
    <div class="row">
        {% if not on_home %}
            <div class="col-md-2 left">
                {% block left_panel %}
                    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
                {% endblock %}
            </div>
        {% endif %}
        {% if not on_home %}
            <div class="col-md-7 middle">{% endif %}
        <h1>{% block title %}{% endblock %}</h1>
        {% block main %}{% endblock %}
        {% if not on_home %}</div>{% endif %}
    </div>
</div>

<footer>
    <div class="container">
        {#        {% page_menu "pages/menus/footer.html" %}#}
    </div>
</footer>

{% block footer_js %}
    {% include "includes/footer_scripts.html" %}
{% endblock %}

<script src="{% static "js/bootstrap-toolkit.min.js" %}"></script>

{% block extra_js %}{% endblock %}

<script>
    // Makes all topic item containers have the same height.
    function fixViewPort(current) {
        if (!current) {
            return;
        }

        var containers = $('.help-topic-thumbnail');
        containers.height("initial");   // Reset height

        var containerMaxHeight = 0;
        var nameMaxHeight = 0;
        for (var i = 0; i < containers.length; i++) {
            containerMaxHeight = Math.max($(containers[i]).height(), containerMaxHeight);
            nameMaxHeight = Math.max($(containers[i]).find(".topic-name").height(), nameMaxHeight);

        }

        // set to new max height
        for (var i = 0; i < containers.length; i++) {
            $(containers[i]).height(containerMaxHeight);
            $(containers[i]).find(".topic-name").height(nameMaxHeight)
        }
    }

    $(document).ready(function () {
        $('.parallax-window').parallax();
    });

    // Uses bootstrap toolkit to trigger FixViewPort on bootstrap responsive breakpoints
    (function ($, viewport) {
        $(document).ready(function () {
            // Executes when page loads
            fixViewPort(viewport.current());

            // Executes each time window size changes
            $(window).resize(
                    viewport.changed(function () {
                        fixViewPort(viewport.current());
                    })
            );
        });
    })(jQuery, ResponsiveBootstrapToolkit);
</script>

</body>


</html>