{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block banner %}
    <div id="home-parallax" class="parallax-window" data-parallax="scroll" data-image-src="{{ STATIC_URL }}img/bg3.jpg">
    </div>

    <div id="greetings" class="text-center">
        <div class="col-sm-12">
            <h2>Welcome to HydroShare</h2>
            <h4>Use the links below to learn how to begin sharing and collaborating.</h4>
            <br>
        </div>
    </div>
{% endblock %}


{% block main %}
    <div class="col-sm-12 col-lg-offset-2">
        <h1>HydroShare Support</h1>
        <h4 class="text-muted">Get quick answers to the most common questions about how to get started with and use HydroShare.</h4>
        <br>
    </div>
    <div class="col-sm-12 col-lg-8 col-lg-offset-2">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div data-topic="" class="help-topic-thumbnail">
                    <a href="/introduction">
                        <div class="text-center">
                            <i class="fa fa-book fa-4x topic-icon" aria-hidden="true"></i>
                            <div class="topic-name">
                                <div>Introduction to HydroShare</div>
                                <br>
                                <small>Learn more about what you can do with HydroShare</small>
                            </div>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div data-topic="" class="help-topic-thumbnail">
                    <a href="/resource-types">
                        <div class="text-center">
                            <i class="fa fa-file-text fa-4x topic-icon" aria-hidden="true"></i>
                            <div class="topic-name">
                                <div>HydroShare Resource Types</div>
                                <br>
                                <small>Learn more about data and model resources in HydroShare</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div data-topic="" class="help-topic-thumbnail">
                    <a href="/creating-and-managing-resources">
                        <div class="text-center">
                            <i class="fa fa-database fa-4x topic-icon" aria-hidden="true"></i>
                            <div class="topic-name">
                                <div>Creating and Managing Resources</div>
                                <br>
                                <small>Create new datasets and models and describe with metadata</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div data-topic="" class="help-topic-thumbnail">
                    <a href="/sharing-and-privacy">
                        <div class="text-center">
                            <i class="fa fa-share-square-o fa-4x topic-icon" aria-hidden="true"></i>
                            <div class="topic-name">
                                <div>Sharing and Privacy</div>
                                <br>
                                <small>Share resources with your colleagues, control who has access, and learn how to formally publish</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div data-topic="" class="help-topic-thumbnail">
                    <a href="/discover">
                        <div class="text-center">
                            <i class="fa fa-search fa-4x topic-icon" aria-hidden="true"></i>
                            <div class="topic-name">
                                <div>Discovering Resources</div>
                                <br>
                                <small>Discover datasets and models shared by others</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div data-topic="" class="help-topic-thumbnail">
                    <a href="/participation-and-collaboration">
                        <div class="text-center">
                            <i class="fa fa-users fa-4x topic-icon" aria-hidden="true"></i>
                            <div class="topic-name">
                                <div>Participation and Collaboration</div>
                                <br>
                                <small>Create user groups and collaborate with your colleagues</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div data-topic="" class="help-topic-thumbnail">
                    <a href="/apps">
                        <div class="text-center">
                            <i class="fa fa-window-maximize fa-4x topic-icon" aria-hidden="true"></i>
                            <div class="topic-name">
                                <div>Apps</div>
                                <br>
                                <small>Interact with your resources using web apps for visualization and analysis</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div data-topic="" class="help-topic-thumbnail">
                    <a href="/modeling">
                        <div class="text-center">
                            <i class="fa fa-sitemap fa-4x topic-icon" aria-hidden="true"></i>
                            <div class="topic-name">
                                <div>Modeling</div>
                                <br>
                                <small>Upload your models, share inputs and outputs, and execute them online</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div data-topic="" class="help-topic-thumbnail">
                    <a href="/about">
                        <div class="text-center">
                            <i class="fa fa-question-circle-o fa-4x topic-icon" aria-hidden="true"></i>
                            <div class="topic-name">
                                <div>About HydroShare</div>
                                <br>
                                <small>Learn more about design of the HydroShare system, source code, and architecture</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/parallax.js" %}"></script>

    <script>
        // Makes all topic item containers have the same height.
        function fixViewPort(current) {
            if (!current) {
                return;
            }

            var containers = $('.help-topic-thumbnail');
            containers.height("initial");   // Reset height

            var containerMaxHeight = 0;
            var nameMaxHeight = 0;
            for (var i = 0; i < containers.length; i++) {
                containerMaxHeight = Math.max($(containers[i]).height(), containerMaxHeight);
                nameMaxHeight = Math.max($(containers[i]).find(".topic-name").height(), nameMaxHeight);

            }

            // set to new max height
            for (var i = 0; i < containers.length; i++) {
                $(containers[i]).height(containerMaxHeight);
                $(containers[i]).find(".topic-name").height(nameMaxHeight)
            }
        }

        $(document).ready(function () {
            $('.parallax-window').parallax();
        });

        // Uses bootstrap toolkit to trigger FixViewPort on bootstrap responsive breakpoints
        (function ($, viewport) {
            $(document).ready(function () {
                // Executes when page loads
                fixViewPort(viewport.current());

                // Executes each time window size changes
                $(window).resize(
                        viewport.changed(function () {
                            fixViewPort(viewport.current());
                        })
                );
            });
        })(jQuery, ResponsiveBootstrapToolkit);
    </script>
{% endblock %}