{% extends "base.html" %}
{% load i18n %}
{# Pabitra: 07-25-2016. This page is no more used. Instead the help page added using the the admin interface serves as the home page for the site#}
{% block meta_title %}{% trans "HydroShare" %}{% endblock %}
{% block title %} {% trans "HydroShare Support" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Help-1" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>HydroShare Help!</h2>
<p>
    Welcome to HydroShare Help Website.
</p>

{% endblocktrans %}
{% endblock %}
